@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-dark: #2d232e;
  --color-dark-grey: #474448;
  --color-soft-dark: #534b52;
  --color-soft-light: #e0ddcf;
  --color-off-white: #f1f0ea;
  --color-white: #ffffff;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: var(--color-white);
  color: var(--color-primary-dark);
}
