:root {
  --tempone-color-primary: #2d232e;
  --tempone-color-primary-rgb: 45, 35, 46;
  --tempone-color-secondary: #474448;
  --tempone-color-secondary-rgb: 71, 68, 72;
  --tempone-color-body: #1e2d2f;
  --tempone-color-body-rgb: 30, 45, 47;
  --tempone-color-light: #f1f0ea;
  --tempone-color-light-rgb: 241, 240, 234;
  --tempone-color-dark: #1a1a1a;
  --tempone-color-dark-rgb: 26, 26, 26;
  --tempone-color-accent: #e0ddcf;
  --tempone-color-accent-rgb: 224, 221, 207;
  --tempone-color-white: #ffffff;
  --tempone-color-black: #000000;
}
